<div id="<%= dom_id job_report %>">
  <p>
    <strong>Sequence:</strong>
    <%= job_report.sequence %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= job_report.company_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= job_report.title %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job_report.salary %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= job_report.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= job_report.end_date %>
  </p>

</div>
